<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible">
    <title>Bem-Vindo</title>
  </head>  
    <body>
      <h1>Catálogo</h1>
      <ol>
      {{#each resourcers}}
        <li>{{this.name}}</li>
      {{/each}}
      </ol>
    </body>

</html>