<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' />
    <title>Bem-Vindo</title>
  </head>

  <body>
    <h2>Bem Vindo {{name}}</h2>
    <p>Agora você faz parte dos membros do Fiado-Online</p>
  </body>
</html>