<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' />
    <style>
      section { display: flex; flex-direction: column; align-items: center; } h2
      { color: #27AE60; text-transform: uppercase; }
    </style>
    <title>Bem-Vindo</title>
    <body>
      <section>
        <h2>Olá {{name.name}}</h2>
        <p>Voce vai poder acompanhar melhor seu relatorio no arquivo em anexo</p>
        <p>estamos grato por usar nossos serviços</p>
      </section>

      <footer>
        <span><i>----Fiado Online----</i></span>
      </footer>
    </body>
  </head>
</html>